{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="shortcut icon" href="/static/css/MNNITlogo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel=”stylesheet” href=”css/bootstrap.css”> <link rel=”stylesheet”
  href=”css/bootstrap-responsive.css”>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <!-- <link rel="stylesheet" href="{% static 'testapp/style.css' %}"> -->
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <!-- JavaScript Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{% static 'css/main_query.css'%}" />
  <link rel="stylesheet" href="{% static 'css/index1.css'%}" />
  <link rel="stylesheet" href="{% static 'css/index_query.css'%}" />
  <title>Vitaran</title>
    <title>Vitaran</title>
    <style>
      .footer{
        position: sticky;
        width : 100%;
        bottom: 0px;
        padding-top: 8px;
        background-color: black;
        color : #c2c2d6;
        height : 75px;
        text-align: center;
      }
      a{
        color : #4da6ff;
      }
    </style>
</head>
<body>
    <div class="background_image" id="image1">
    <div >
        <nav class="navbar navbar-expand-md navbar-light logo">
          <img
            src="/static/MNNITlogo.png"
            class="navbar-brand-center"
            alt="MNNIT ALLAHABAD"
            style="
              margin: 12px;
              display: block;
              max-width: 150px;
              max-height: 78px;
              width: auto;
              height: auto;
            "
          />
          <span class="col-md-3 mx-auto text-center btn-btn-primary">
            <span class="navbar-brand-center" href="">
              <h4 style="font-size: 50">
                <h2><b>VITARAN</b> <br></h2>
                <b>Electricity Bill Distribution Portal<br />MNNIT Allahabad</b>
              </h4>
            </span>
          </span>
        </nav>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-md-7">
                <form method="POST">
                    {% csrf_token %}
                    <label for="excel">Select an Excel file:</label>
                    <input type="file" id="excel" class="form-control" name="excel" required><br>
                    <button type="submit" class="btn btn-primary" id="submit">Upload & Add Bills</button>
                  </form>
    </div>
</div>
</div>
</div>
<div class="footer">
  <div class="footer-content">
    <p>Developers : <a href="https://www.linkedin.com/in/swapnil-nayak-a21728205/">Swapnil Nayak, </a> <a href="https://www.linkedin.com/in/sachin-pandey-b4044020a/">Sachin Pandey &</a> <a href="https://www.linkedin.com/in/ritik-p3003/">Ritik Prajapati </a></p>
    <p>Under ECE Department MNNIT Allahabad</p>
  </div>
</div>
</body>
</html>