{%extends 'base.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>Vitaran</title>
    <style>
        .footer{
          position: fixed;
          width : 100%;
          bottom: 0px;
          padding-top: 8px;
          background-color: black;
          color : #c2c2d6;
          height : 60px;
          text-align: center;
        }
        a{
          color : #4da6ff;
        }
      </style>
</head>

<body>
    {%block body%}
    <script>
    function preback(){window.history.forward();}
    setTimeout("preback()",0);
    window.onunload=function(){null};
    </script>
    {%if messages%}
         {%for message in messages%}
         <div class = "alert alert-{{message.tags}}">{{message}}</div>
         {%endfor%}
    {%endif%}
    <div class="container form-group grow text-center div1">
        <div class="row">
            <div class="col-md-7">
                <form method="POST" name="myform">
                    {%csrf_token%}
                    <div class="form-group">
                    <label for="">OTP</label>
                    <input type="text" class="form-control" id="otp" name="otp" value="">
                    {%if flag is False%}
                    <small id="response-comment" class="form-text text-muted" style="color: red;">OTP invalid!</small> 
                    {%endif%}
                    </div>
                    <button type="submit" class="btn btn-primary">Verify OTP</button>
                </form>
            </div>
        </div>
    </div>
    {%endblock%}
    <div class="footer">
        <div class="footer-content">
          <p>Developers : <a href="https://www.linkedin.com/in/swapnil-nayak-a21728205/">Swapnil Nayak, </a> <a href="https://www.linkedin.com/in/sachin-pandey-b4044020a/">Sachin Pandey &</a> <a href="https://www.linkedin.com/in/ritik-p3003/">Ritik Prajapati </a></p>
          <p>Under ECE Department MNNIT Allahabad</p>
        </div>
      </div>
</body>

</html>