<!-- -------------PDF GENERATEOR --------------- -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common.min.css" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.1.223/js/jszip.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
<br>
<center><button id="pdf-generate" class="btn btn-primary">Download</button></center>
<center><a href="/indexsuperuser"><button type="button" class="primary">HomePage</button></a></center>
<br>
<div id="example">
  <div class="box wide hidden-on-narrow">
  </div>

  <div class="page-container hidden-on-narrow">
    <div class="pdf-page size-a4">
      <page size="A4">
        <br>
        <br>
        <!-- PDF CONTENT START -->

        <div class="table-responsive-sm" style="padding: 5px;">
          <table class="table table-striped table-bordered table-hover table-md">
            <thead class="thead-dark">
              <tr>
                <th>
                  <center><img src="/static/MNNITlogo.png" class="navbar-brand-center" alt="MNNIT ALLAHABAD" style="
                        margin: 12px;
                        display: block;
                        max-width: 150px;
                        max-height: 78px;
                        width: auto;
                        height: auto;
                      " /></center>
                </th>
                <th colspan="7">
                  <center class="heading">Electricity Supply Works and Maintenance Section<br>MNNIT
                    Allahabad<br><br><small>{{month}} - {{year}}</small></center>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <center>Quarter No.</center>
                </th>
                <th>
                  <center>Name</center>
                </th>
                <th>
                  <center>Meter Number</center>
                </th>
                <th>
                  <center>Sanction Load</center>
                </th>
                <th>
                  <center>Employee ID</center>
                </th>
                <th>
                  <center>Previous Units</center>
                </th>
                <th>
                  <center>Fixed KVA charges</center>
                </th>
                <th>
                  <center>Current Units</center>
                </th>
              </tr>
              {% for data in imported_data %}
              <tr>
                {% for i in data %}
                {% if forloop.counter < 10 and forloop.counter > 1 %}
                  <td>
                    <center>{{i}}</center>
                  </td>
                  {% endif %}
                  {% endfor %}
              </tr>
              {% endfor %}
              <tr> 
                <td colspan="8" style="padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 40px;
                padding-right: 40px;">{{designation}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <br>
               <br>
               <h6><center>{{designation}}</center></h6> -->
        <!-- PDF CONTENT END -->

      </page>

    </div>
  </div>

  <div class="responsive-message"></div>

  <style>
    /*
            Use the DejaVu Sans font for display and embedding in the PDF file.
            The standard PDF fonts have no support for Unicode characters.
        */
    th,
    td {
      font-size: 10px;
    }

    table,
    th,
    td {
      border: 1px solid black;
      padding: 3px;
      margin: auto;
      border-collapse: collapse;
    }

    tr:nth-child(even) {
      background-color: #F0F0F0;
    }

    .pdf-page {
      font-family: "DejaVu Sans", "Arial", sans-serif;
    }

    /* .image{
               margin: 12px;
               display: block;
               max-width: 150px;
               max-height: 78px;
               width: auto;
               height: auto;
        } */
    .heading {
      font-size: 15px;
    }
  </style>

  <script>
    // Import DejaVu Sans font for embedding

    // NOTE: Only required if the Kendo UI stylesheets are loaded
    // from a different origin, e.g. cdn.kendostatic.com
    kendo.pdf.defineFont({
      "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
      "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
      "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
      "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf"
    });
  </script>

  <!-- Load Pako ZLIB library to enable PDF compression -->
  <!-- <script src="../content/shared/js/pako.min.js"></script> -->

  <script>
    function getPDF(selector) {
      kendo.drawing.drawDOM($(selector), {
        paperSize: "A4",
        margin: "1cm", landscape: true
      }).then(function (group) {
        kendo.drawing.pdf.saveAs(group, 'Receipt_{{month}}_{{year}}.pdf');
      });
    }
  </script>
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      font-family: 'Montserrat', sans-serif;
    }

    page[size="A4"] {
      width: 790px;
      height: 1000px;
    }

    page {
      background: white;
      display: block;
      margin: 0 auto;
    }
  </style>

</div>

<script type="text/javascript">
  $('#pdf-generate').click(function () {
    getPDF('.pdf-page');
  })
</script>